@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .s-ask
    h2
      font-size: 64px
      .svg
        margin-left: 10px
        width: 140px
        position: relative
        top: 2px

  .faqs-part
    width: calc(50% - 25px)

  .botlink-item
    padding-left: 0
    width: calc(50% - 20px)

  .head-phone
    font-size: 18px
    margin-left: 22px
    span
      font-size: 22px

// ≥992px
+media-breakpoint-down(md)

  .foot-line
    flex-direction: column

  .foot-logo
    display: inline-block
    margin-bottom: 30px

  .foot-socials
    margin-bottom: 30px

  .foot-middle
    margin-bottom: 30px

  .foot-right
    text-align: center

  .foot-phone
    margin-bottom: 30px
    display: inline-block

  .main-foot
    padding: 40px 0

  .s-ask
    padding-bottom: 40px
    h2
      margin-top: 0
      margin-bottom: 30px
      font-size: 58px
      .svg
        display: none

  .ask-form
    label
      margin-bottom: 20px

  .s-advantages
    padding-top: 50px

  .advcheck-item
    padding-left: 40px
    font-size: 16px
    width: calc(33.333333% - 20px)
    &:before
      width: 30px
      height: 30px

  .s-links
    top: 0
    padding-top: 20px

  .link-notice
    padding-top: 30px
    font-size: 12px

  .botlink-item
    width: calc(50% - 10px)
    &-title
      font-size: 14px

  .intro-sequence
    .section-title
      text-align: left

  .intro-item
    width: calc(50% - 40px)

  .section-title
    font-size: 28px
    margin-bottom: 35px

  .topline
    padding: 30px 0
    flex-wrap: wrap

  .head-links
    width: 100%
    margin-top: 20px
    display: flex
    align-items: center
    justify-content: space-between

// ≥768px
+media-breakpoint-down(sm)

  .s-ask
    h2
      font-size: 44px

  .faqs-part
    width: 100%

  .adv-item
    width: 100%
    padding-right: 0
    margin-bottom: 30px

  .advs-wrap
    margin-bottom: 20px

  .advchecks-wrap
    flex-wrap: wrap


  .advcheck-item
    width: 100%
    padding-top: 6px

  .s-advantages
    padding-top: 20px

  .botlink-item
    justify-content: space-between
    align-items: flex-start
    &-icon
      width: 50px
      height: auto
      margin-right: 0
    &-content
      width: calc(100% - 60px)
    .btn
      width: 70px
      .svg
        width: 35px


  .s-links
    top: -50px
    padding-top: 0

  .s-intro
    padding-bottom: 30px

  .link-notice
    padding-top: 0
    margin-bottom: 70px

  .section-title
    font-size: 22px

  .intro-sequence
    top: -30px

  .seq-wrap
    flex-wrap: wrap

  .seq-item
    width: 50%

  .seq-notice
    font-size: 22px

// ≥480px
+media-breakpoint-down(xs)

  .foot-links
    .btn
      font-size: 12px
      width: 150px
      margin-left: 10px

  .s-ask
    h2
      font-size: 28px

  .s-links
    margin-bottom: -30px

  h3
    font-size: 17px
    margin-bottom: 12px

  .s-advantages
    padding-top: 0

  .advcheck-item
    padding-top: 0

  .links-bottom
    flex-wrap: wrap

  .botlink-item
    &-icon
      width: 80px
    &-content
      width: calc(100% - 95px)
    width: 100%
    margin-bottom: 30px

  .s-intro
    padding-bottom: 60px

  .intro-wrap
    display: none

  .intro-item
    img
      margin-left: auto
      margin-right: auto
    &:first-child
      img
        margin-top: 70px
    .section-title
      margin-bottom: 20px

  .intro-sequence
    top: 0
    margin-top: 20px
    .section-title
      text-align: center


  .head-links
    flex-wrap: wrap
    justify-content: center
    &>span
      width: 100%
      text-align: center
      margin-bottom: 20px

@media (max-width: 390px)

  .popup-form
    padding: 30px 25px
    h3
      font-size: 20px
    .form-labels-wrap
      padding: 0

  .foot-middle
    margin-bottom: 10px

  .foot-phone
    margin-bottom: 20px

  .foot-links
    .btn
      font-size: 14px
      width: 100%
      margin-left: 0
      margin-bottom: 10px

  .faq-item-ask
    font-size: 18px

  .link-notice
    margin-bottom: 40px

  .botlink-item
    &-icon
      width: 60px
    &-content
      width: calc(100% - 70px)

  .seq-item
    width: 100%
    padding-right: 0
    padding-left: 30px
    &:before
      font-size: 30px

  .head-logo
    width: 100%
    margin-bottom: 20px
    img
      max-width: 260px
      margin-left: auto
      margin-right: auto

  .head-socials
    width: 100%
    text-align: center

  .head-links
    font-size: 12px
    .btn
      margin-left: 16px
      width: 120px

/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
